<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% if app_env != 'prod' %}[{{ app_env }}] &bull; {% endif %}{% block title %}Apidae Bundle{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}" />
        {% if app_tagmanager_id is defined and app_tagmanager_id != "" %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ app_tagmanager_id }}"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ app_tagmanager_id }}');
        </script>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" />
    </head>
    <body class="{{ app_env }} standalone">
        {% block body %}
            {% block container %}
            <div class="container-fluid">
                <div class="row">
                    <main role="main" class="ml-sm-auto px-md-4">
                        {% block h1 %}
                            <h1>{{ titre|default(app.request.get('_route')|trans) }}</h1>
                        {% endblock %}
                        {% block alerts %}
                            {% include 'alerts.html.twig' %}
                        {% endblock %}
                        {% block main %}{% endblock %}
                        {% if debug is defined %}
                            <pre class="debug-dump">{% include 'utils/format_value.html.twig' with { value: debug } only %}</pre>
                        {% endif %}
                        {% block helper %}{% endblock %}
                    </main>
                </div>
            </div>
            {% endblock %}
        {% endblock %}
        {% include 'env.html.twig' %}
    </body>
</html>
