<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% if app_env != 'prod' %}[{{ app_env }}] &bull; {% endif %}{% block title %}Apidae Bundle{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}" />
        <link
            rel="stylesheet"
            href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css"
        />      
        {% if app_tagmanager_id is defined %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ app_tagmanager_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ app_tagmanager_id }}');
        </script>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" />
        {% if apidaebundle_taches_path is defined %}<script>
            var apidaebundle_taches_path = "{{ apidaebundle_taches_path }}" ;
        </script>{% endif %}
    </head>
    <body class="{{ app_env }}{% if body_class is defined %} {{ body_class }}{% endif %}">
        {% block body %}
            {% block header %}{% include 'header.html.twig' %}{% endblock %}
            {% block container %}
            <div class="container-fluid">
                {% if sidebarMenu is defined and sidebarMenu == true %}
                    <div class="row">
                        {% block sidebarMenu %}
                            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block">
                                <div class="sidebar-sticky pt-3">
                                    {% block sidebarMenuUl %}
                                        {% include 'demo/siteBarMenu.html.twig' %}
                                    {% endblock %}
                                </div>
                            </nav>
                        {% endblock %}
                        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                {% else %}
                    <main role="main" class="px-md-4">
                {% endif %}
                        {% block breadcrumb %}
                            {% if breadcrumb is defined %}
                                {% include 'breadcrumb.html.twig' %}
                            {% endif %}
                        {% endblock %}
                        {% block h1 %}
                            <h1>{{ titre|default(app.request.get('_route')|trans) }}</h1>
                        {% endblock %}
                        {% block alerts %}
                            {% include 'alerts.html.twig' %}
                        {% endblock %}
                        {% block main %}{% endblock %}
                        {% block helper %}{% endblock %}
                        {% if debug is defined %}
                            <pre class="debug-dump">{% include 'utils/format_value.html.twig' with { value: debug } only %}</pre>
                        {% endif %}
                        {% if gql is defined %}
                            <pre style="font-size:.6em;max-height:80px;overflow:auto;"><code>{{ gql }}</code></pre>
                        {% endif %}
                {% if sidebarMenu is defined and sidebarMenu == true %}                
                        </main>
                    </div>
                {% else %}
                    </main>
                {% endif %}
            </div>
            {% endblock %}
        {% endblock %}
        {% include 'env.html.twig' %}
    </body>
</html>
